[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynubank = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
python-dateutil = "*"
python-telegram-bot = "*"
python-dotenv = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.10"
